<?xml version="1.0" encoding="UTF-8"?>

<!-- Smartrollerz launch script for lane_detection_ai package -->

<launch>
    <arg name="debug" default="false" />

    <!-- Launch lane detection ai node -->
    <node pkg="edge_tpu_lane_detection" type="lane_detection_ai_node.py" output="screen" ns="edge_tpu_lane_detection" name="lane_detection_edge_ai_node">
        <!-- Load parameters from config in the yaml files -->
        <rosparam file="$(find edge_tpu_lane_detection)/config/config.yaml" command="load" />

        <!-- Pass parameters from arguments -->
        <param name="debug" value="$(arg debug)" />
    </node>
</launch>
